body {
    /* Achtergrondstijlen voor de hele pagina */
    background-color: #fdfdfd;
    background-size: cover;
    height: 100vh;
    font-family: system-ui;
    place-items: center;
  }
  
  a {
    /* Stijlen voor koppelingen */
    text-decoration: none;
    font-family: system-ui;
    color: green;
  }
  
  a:visited {
    /* Stijlen voor bezochte koppelingen */
    color: #bdbdbd;
  }
  
  .navbar {
    /* Stijlen voor de navigatiebalk */
    background-color: #1a1a1af0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    /* Stijlen voor het logo */
    color: white;
    font-size: 1.5em;
    font-family: system-ui;
  }
  
  .menu-icon {
    /* Stijlen voor het menu-icoon */
    cursor: pointer;
    display: block;
  }
  
  .bar {
    /* Stijlen voor de balken in het menu-icoon */
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
  }
  
  .menu {
    /* Stijlen voor het menu */
    display: none;
    flex-direction: column;
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    background-color: #1a1a1af0;
    font-family: system-ui;
  }
  
  .menu.show {
    /* Stijlen voor het weergeven van het menu */
    display: flex;
  }
  
  .menu a {
    /* Stijlen voor menukoppelingen */
    color: white;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid white;
    font-family: system-ui;
  }
  
  .musicp {
    /* Stijlen voor afbeeldingen in de muzieksectie */
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .music-content {
    /* Stijlen voor de inhoud van muziekartikelen */
    background-color: #285d04e3;
    color: #ffff;
    padding: 0px;
    text-align: center;
    font-family: system-ui;
    border-radius: 8px;
  }
  
  .music-section {
    /* Stijlen voor de muzieksectie */
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    font-family: system-ui;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
  }
  
  .article-details {
    /* Stijlen voor details van artikelen */
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #51b60b85;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: system-ui;
    width: 322px;
  }
  
  img {
    /* Stijlen voor afbeeldingen */
    width: 100%;
    height: 100%;
    border-radius: 30px;
  }
  
  .no-border-radius {
    /* Stijlen zonder afgeronde hoeken */
    border-radius: 0;
  }
  
  iframe {
    /* Stijlen voor iframes */
    width: 100%;
    height: 100%;
  }
  
  .Music-feed {
    /* Stijlen voor de muziek-feed */
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 25px;
    font-family: system-ui;
    text-align: center;
  }
  
  .Music-article {
    /* Stijlen voor muziekartikelen */
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-family: system-ui;
    padding: 15px;
  }
  
  .header {
    /* Stijlen voor de header */
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-family: system-ui;
  }
  
  .header .img {
    /* Stijlen voor afbeeldingen in de header */
    width: 200%;
    height: auto;
    border-radius: 0;
    object-fit: cover;
  }
  
  h1 {
    /* Stijlen voor koppen van niveau 1 */
    font-size: 20px;
    margin-bottom: 10px;
    font-family: system-ui;
  }
  
  .Music-feed p {
    /* Stijlen voor alinea's in de muziek-feed */
    margin: 5px 0;
    font-family: system-ui;
  }
  
  .Music-feed img {
    /* Stijlen voor afbeeldingen in de muziek-feed */
    max-width: 100%;
    height: auto;
    border-radius: 25px;
  }
  
  .musicp {
    /* Stijlen voor afbeeldingen in de muzieksectie */
    height: 200%;
  }
  
  /* Basisstijlen voor het zoekformulier */
  .search {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: system-ui;
    margin-left: -12px;
  }
  
  /* Stijlen voor primaire knoppen */
  .btn-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  
    /* Algemene stijlen voor knoppen */
    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #1a1a1af0; /* Pas de achtergrondkleur aan naar wens */
        color: #fff; /* Pas de tekstkleur aan naar wens */
        text-decoration: none;
        border-radius: 10px;
        transition: background-color 0.3s ease; /* Voeg een overgangseffect toe */
        /* Optioneel: voeg extra stijlen toe voor een betere visuele ervaring */
        font-family: system-ui;
        font-size: 16px;
  }

    .button:hover {
        background-color: #285d04e3; /* Pas de achtergrondkleur aan naar wens tijdens hover */
  }

  
  .logo {
    /* Stijlen voor het logo */
    color: #aae87d85;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
  }
  
  .toggler {
    /* Stijlen voor de toggler */
    color: #000e37d7;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 50px;
  }
  
  nav {
    /* Stijlen voor de navigatiebalk */
    width: 100%;
    display: none;
  }
  
  nav ul {
    /* Stijlen voor de lijst van navigatie-items */
    list-style: none;
  }
  
  nav ul li a {
    /* Stijlen voor navigatiekoppelingen */
    text-decoration: none;
    color: #3d3d3d;
    font-size: 18px;
    line-height: 60px;
    transition: 0.3s ease-out;
  }
  
  nav ul li a:hover {
    /* Stijlen voor gehoverde navigatiekoppelingen */
    color: #000e37d7;
  }
  
  .active {
    /* Stijlen voor actieve elementen */
    color: #000e37d7;
  }
  
  .side-nav {
    /* Stijlen voor de zijbalk-navigatie */
    text-align: center;
  }
  
  .side-nav a {
    /* Stijlen voor zijbalk-koppelingen */
    text-decoration: none;
    color: #000e37d7;
    padding-right: 15px;
    line-height: 40px;
  }
  
  .clearfix {
    /* Opmaak om drijvende elementen te wissen */
    clear: both;
  }
  
  .showcase-container {
    /* Stijlen voor de showcase-container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
    font-size: 1.6rem;
    color: rgb(48, 46, 47);
    background-color: #99afd9;
  }
  
  .main-title {
    /* Stijlen voor hoofdtitels */
    text-transform: uppercase;
  }
  
  #about {
    /* Stijlen voor het 'over' gedeelte */
    padding: 0px 0px;
    background-color: #fdfdfd;
  }
  
  .about-wrapper {
    /* Stijlen voor de wrapper van het 'over' gedeelte */
    display: flex;
    flex-wrap: wrap;
  }
  
  #about h2 {
    /* Stijlen voor koppen van niveau 2 in het 'over' gedeelte */
    font-family: Impact;
    font-size: 3.2rem;
    color: #2b6700ce;
  }
  
  #about p {
    /* Stijlen voor alinea's in het 'over' gedeelte */
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
  }
  
  #about .small {
    /* Stijlen voor kleine tekst in het 'over' gedeelte */
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
  }
  
  .about-img {
    /* Stijlen voor afbeeldingen in het 'over' gedeelte */
    flex: 1 1 200px;
    padding: 10px;
    transform: translate(150%);
    animation: about-img-animation 1s ease-in-out forwards;
  }
  
  @keyframes about-img-animation {
    /* Animatie voor afbeeldingen in het 'over' gedeelte */
    100% {
      transform: translate(0);
    }
  }
  
  .about-text {
    /* Stijlen voor tekst in het 'over' gedeelte */
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translate(-150%);
    animation: about-text-animation 1s ease-in-out forwards;
  }
  
  @keyframes about-text-animation {
    /* Animatie voor tekst in het 'over' gedeelte */
    100% {
      transform: translate(0);
    }
  }
  
  .about-img img {
    /* Stijlen voor afbeeldingen binnen de afbeeldingen in het 'over' gedeelte */
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
  }
  
  #about2 {
    /* Stijlen voor het tweede 'over' gedeelte */
    padding: 0px 0px;
    background: #51b60b85;
  }
  
  #about2 h2 {
    /* Stijlen voor koppen van niveau 2 in het tweede 'over' gedeelte */
    font-size: 3.2rem;
    color: #285d04e3;
    font-family: Impact;
  }
  
  #about2 p {
    /* Stijlen voor alinea's in het tweede 'over' gedeelte */
    font-size: 1.6rem;
    color: white;
  }
  
  #about3 {
    /* Stijlen voor het derde 'over' gedeelte */
    padding: 50px 0px;
    background: #db32328f;
  }
  
  .about-img {
    /* Stijlen voor afbeeldingen in het derde 'over' gedeelte */
    flex: 1 1 400px;
    padding: 10px;
    transform: translate(150%);
    animation: about-img-animation 1s ease-in-out forwards;
  }
  
  #type-menu h1 {
    /* Stijlen voor koppen van niveau 1 in het derde 'over' gedeelte */
    font-size: 2.2rem;
    color: #ce9c04;
    font-family: Impact;
    text-align: center;
  }
  
  @keyframes about-img-animation {
    /* Animatie voor afbeeldingen in het derde 'over' gedeelte */
    100% {
      transform: translate(0);
    }
  }
  
  .about-text {
    /* Stijlen voor tekst in het derde 'over' gedeelte */
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translate(-150%);
    animation: about-text-animation 1s ease-in-out forwards;
  }
  
  @keyframes about-text-animation {
    /* Animatie voor tekst in het derde 'over' gedeelte */
    100% {
      transform: translate(0);
    }
  }
  
  .about-img img {
    /* Stijlen voor afbeeldingen binnen de afbeeldingen in het derde 'over' gedeelte */
    display: block;
    height: 292px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
  }
  
  #footer h2 {
    /* Stijlen voor koppen van niveau 2 in de footer */
    text-align: center;
    font-size: 1rem;
    padding: 3rem;
    font-weight: 500;
    color: #fff;
    background: #b60b0b87;
  }
  
  .about-wrapper {
    /* Stijlen voor de wrapper van het 'over' gedeelte */
    padding: 2rem;
  }
  
  form {
    /* Stijlen voor formulieren */
    max-width: 300px;
  }
  
  .section-title {
    /* Stijlen voor titels van secties */
    text-align: center;
    margin-bottom: 30px;
    color: white;
  }
  
  form {
    /* Stijlen voor formulieren */
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    /* Stijlen voor labels */
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000e37d7;
  }

  /* Stijlen voor invoervelden en tekstgebieden */
  input,
  textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
  }
  
  .container {
      margin: 0 auto;
      padding: 0px 0 0;
      max-width: 960px;
      width: 100%;
  }
  
  footer {
      background-color: #1a1a1af0;
      color: #fff;
      padding: 30px;
      text-align: center;
  }
  
  /* Responsive stijlen voor tablets */
  @media (min-width: 600px) {
      .Music-feed {
          width: 48%; 
      }
  
      #Music-article .img {
          width: 100%;
          height: 100%;
          color: rgb(74, 74, 74);
      }
  
      .menu-icon {
          display: none;
      }
  
      .menu {
          display: flex;
          position: relative;
          top: 0;
          flex-direction: row;
          background-color: transparent;
          width: 22%;
      }
  
      .menu a {
          border-bottom: none;
      }
  
      .search {
          width: 200px;
          padding: 10px;
          margin: 5px;
          border: 1px solid #f5f3f3;
          border-radius: 5px;
          font-size: 16px;
      }
  
      .music-section {
          display: flex;
          justify-content: center;
          padding: 20px;
          font-family: system-ui;
          align-items: center; /* Items verticaal centreren */
          flex-wrap: wrap; /* Items naar de volgende regel laten gaan indien nodig */
          flex-direction: row; /* Standaardrichting is rij (horizontaal) */
      }
  
      .logo {
          color: #aae87d85;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 30px;
          font-weight: bold;
          margin-left: 2%;
      }
  
      .menu {
          display: flex;
          position: relative;
          top: 0;
          flex-direction: row;
          background-color: transparent;
          width: 47%;
      }
  
      .music-home {
          display: flex;
          justify-content: center;
          padding: 20px;
          font-family: system-ui;
          /* align-items: center; */
          /* flex-wrap: wrap; */
          flex-direction: row;
      }
  }
  
  /* Responsive stijlen voor computers */
  @media (min-width: 1024px) {
      .article-details {
          /* max-width: 600px; */
          margin: 50px auto;
          padding: 20px;
          box-sizing: border-box;
          background-color: #51b60b59;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          font-family: system-ui;
          width: 542px;
      }
  
      .musicp {
          width: 100%;
          height: 300px;
      }
  
      .search {
          width: 150%;
          padding: 10px;
          margin: 5px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
      }
  
      .header {
          width: 100%; 
          margin-bottom: 20px;
          box-sizing: border-box;
          font-family: system-ui;
      }
  
      #header .img {
          width: 100%;
          height: 100%;
          color: rgb(74, 74, 74);
          border-radius: 1%;
      }
  
      .music-home {
          display: flex;
          justify-content: center;
          padding: 20px;
          font-family: system-ui;
          /* align-items: center; */
          /* flex-wrap: wrap; */
          flex-direction: row;
      }
  
      .Music-feed {
          width: 20%; 
          grid-template-columns: repeat(1, 3fr);
      }
  
      .Music-article {
          grid-template-columns: repeat(1, 3fr);
      }
  
      .music-content {
          color: #ffff;
          background-color: #285d04e3;
          padding: 0px;
          text-align: center;
          font-family: system-ui;
          border-radius: 8px;
          /* width: 48%; */
          /* height: 32px; */
          text-align: -webkit-center;
      }
  
      .showcase-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          font-size: 1.6rem;
          margin-left: 50%;
      }
  
      .menu {
          display: flex;
          position: relative;
          top: 0;
          flex-direction: row;
          background-color: transparent;
          width: 30%;
      }
  
      .navbar {
          background-color: #1a1a1af0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 80px;
          width: 98%;
      }
  
      iframe {
          width: 500px;
          height: 350px;
      }
  
      footer {
          background-color: #1a1a1af0;
          color: #fff;
          padding: 30px;
          text-align: center;
      }
  
      .search-container {
          margin-right: 23%;
      }
  }
