<!DOCTYPE html>
<html lang="{{craft.app.language}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{siteName}}</title>
    {% do craft.app.view.registerCssFile('@web/styles/normalize.css') %}
    {% do craft.app.view.registerCssFile('@web/styles/style.css') %}

</head>
<body>


    {% block content %}
    {# hier komt de content #}
    {% endblock %}
   
    <footer>
        <p>With a commitment to quality content for the Craft-community.</p>
        <a href="#">privacy policy</a>
    </footer>

</body>
    <script>
    function toggleMenu() {
        const menu = document.querySelector('.menu');
        menu.classList.toggle('show');
    }
</script>
</html>
